[2020-10-15 19:06] aidenybai opened #3 "Add unit tests"
**Is your feature request related to a problem? Please describe.**
Testing can help with making sure new changes don't break the code base as well as asserting everything is in order.

**Describe the solution you'd like**
Use a testing library like `jest` or `tape` to write tests for the current codebase (like directives, vdom, etc)

**Describe alternatives you've considered**
Possibly using the n

[2020-10-23 21:39] shadowtime2000 opened #5 "[FEATURE] ESM and CJS build"
**Is your feature request related to a problem? Please describe.**
Inserting `script` tags into the `head` tag isn't very organized especially for somewhat complex projects.

**Describe the solution you'd like**
An ESM build along with a CJS build.

**Describe alternatives you've considered**
None.

**Additional context**
I can do this in a PR just checking what people are thinking about this.

[2020-10-23 22:44] aidenybai commented on #5
Just pushed builds for cjs, esm, and iife, may need some testing to make sure it's compatible to use with bundlers

[2020-10-24 00:43] #5 closed

[2020-10-24 01:33] shadowtime2000 commented on #3
I have experience with `jest` and `mocha` but I think `jest` might be more fit for this. I will take a go at this.

[2020-10-24 05:50] aidenybai opened #7 "Add Components"
**Is your feature request related to a problem? Please describe.**
I want to create multiple groups of elements that can be reused.

**Describe the solution you'd like**
Ability to use components (ex: <my-component></my-component>)

**Describe alternatives you've considered**
Not having components, or just grouping them somehow

[2020-10-24 07:26] aidenybai commented on #3
That would be awesome - thanks shadow

[2020-10-24 17:23] shadowtime2000 commented on #7
What do you think the syntax should look like? Maybe have it use the Web Components API or our own version of that (insert stuff into custom element tags in the VDOM).

[2020-10-24 17:27] shadowtime2000 commented on #3
Maybe some unit tests to just test the basic workings of the everything and some integration tests to see how they work in the `jsdom`. I don't know much about how to classify tests so that is just what I am going to call them 😆

[2020-10-24 18:21] aidenybai commented on #7
We should use own version - Web Components API is pretty complicated and doesn't have a lot of compatibility with other browsers.

We may need to try to restructure the internal architecture into an actual Virtual DOM for this to work though - Right now it really only acts like a reference.

Could also look into `<template>` tags

[2020-10-24 18:22] aidenybai commented on #3
😆 Yeah that's probably fine, just some "tests" just to check nothing is broken I guess

[2020-10-24 19:03] aidenybai opened #8 "Restructure core to Virtual DOM"
**Is your feature request related to a problem? Please describe.**
Currently Lucia runs off a "reference Virtual DOM" and makes DOM related changes based on that. This way, it supports #7

**Describe the solution you'd like**
Currently the vdom is a tree like structure with each layer/vnode containing selectors as "pointers"
Kind of inefficient if we do not want to go with the traditional vdom pat

[2020-10-24 19:59] shadowtime2000 opened #9 "Better State Management"
**Is your feature request related to a problem? Please describe.**
It is kind of hard to manage state management links between Javascript and `l-use` scope components.

**Describe the solution you'd like**
An `l-watch` directive that points to a global that is checked on every render step to see if it changed, and if so, it would render the entire component.

**Describe alternatives you've conside

[2020-10-24 20:13] shadowtime2000 commented on #3
This would be closed by #10. @aidenybai Do you think we should attach a CI such as Travis CI and a Coveralls to check test status and report coverage?

[2020-10-24 20:24] aidenybai commented on #9
I just want to quickly clarify to make sure I'm understanding:

So currently the `l-use` attribute handles an object either through directly providing it in the attr value or calling a existing function that returns an object.

If that object is changed, then the component will update with the new code. If the object code is changed, how would we maintain the existing state of the properties? Say

[2020-10-24 20:26] aidenybai commented on #3
That would be smart - let me look into that

[2020-10-24 20:27] shadowtime2000 commented on #9
I think a proxy would work or just allowing users to control when to render.

[2020-10-24 20:40] aidenybai commented on #3
Travis should be setup 👍

[2020-10-24 20:40] #3 closed

[2020-10-24 20:55] shadowtime2000 commented on #3
@aidenybai Can you add some coverage reporting tool? I strongly recommend [coveralls](https://coveralls.io)

[2020-10-24 22:03] shadowtime2000 commented on #9
I just want people to be able to do something like this:
[code]

[2020-10-24 23:31] aidenybai commented on #9
So expose some API functionality to allow the developer to enter a custom callback?

[2020-10-24 23:32] shadowtime2000 commented on #9
Yes.

[2020-10-24 23:41] shadowtime2000 commented on #9
More of just a way to link a shared state between the Javascript and the Lucia components.

[2020-10-24 23:53] aidenybai commented on #9
Understood. I'll push some functionality and let me know if you like it

[2020-10-25 00:17] aidenybai commented on #9
Okay so I did a bit of experimenting - it's kind of awkward with the current way Lucia uses - Lucia exposes a createApp function on the global Lucia variable - where it's possible to hook a method on there providing this type of functionality and where `$patch` is exposed - however if using the `l-use` directive doesn't really support this type of thing, at least not something I can think of. Feel

[2020-10-25 02:53] shadowtime2000 commented on #9
Looks like if you do something like this

[code]

[code]
I think it may be Javascript object mutation but certainly without using a function you can have the `window.App` track changes that are performed in the component but when you change the state on `window.App.count` it doesn't change the UI until you do an action in which case it takes the previous state and adds on to that without ever show

[2020-10-25 03:23] aidenybai commented on #9
Yeah, maybe we can have a `reactive` function where it can make objects reactive

[2020-10-25 04:53] aidenybai commented on #9
Just implemented a `l-watch` directive and exposed components through `Lucia.components` property

[2020-10-25 07:28] shadowtime2000 commented on #9
@aidenybai I didn't have the time to play around with it but I believe `l-watch` is more of the Lucia version of React `useEffect` instead of more of the React `useEffect` dependency list. The current functionality is kind of nice so we could rename it to `l-effect` for side effects on render. I am looking into allowing Lucia to subscribe to value changes.

[2020-10-25 18:48] shadowtime2000 commented on #9
Looking into watching for changes there is a pretty popular library [on-change](https://github.com/sindresorhus/on-change) which could probably be easy to implement but it is roughly 27kb which could make the library around 30kb, though I think `rollup` with `terser` could decrease that size by a bit more. @aidenybai Thoughts?

[2020-10-25 19:06] aidenybai commented on #9
Just took a look at the library, love the functionality. the 27kb raw size makes me a bit uncomfortable though - maybe we should try implementing our own solution in-house with similar functionality first. I think `observer.ts` already provides a proxy that traps changes, we could change this to a class with subscribe/etc. functions for state management.

I think other libraries like vue have exte

[2020-10-25 19:11] shadowtime2000 commented on #9
I like this idea but then we would need to figure out how to organize different packages. Should we keep them all in one repo and use [bolt](https://github.com/boltjs/bolt) or [pnpm](https://pnpm.js.org) or we could create a Github organization with a name like `luciajs` and keep them in separate repos there.

[2020-10-25 19:18] aidenybai commented on #9
I'm not sure yet - I think the best course of action could be to try to implement state management and see how it affects the code size or if it is possible with the current architecture. I guess we'll just have to see how it goes and do it from there

[2020-10-26 18:00] shadowtime2000 opened #12 "Better Documentation"
**Is your feature request related to a problem? Please describe.**
The current documentation is created from `typedoc` which isn't that great for something like this.

**Describe the solution you'd like**
Better hand written documentation.

**Describe alternatives you've considered**
Creating a documentation framework with `lucia`.

[2020-10-26 18:14] aidenybai commented on #12
+1 this, any suggestions for what we should use?

[2020-10-26 18:47] shadowtime2000 commented on #12
We could use [Docusaurus](https://docusaurus.io/) or we could create our own documentation framework with `lucia` but I think we should move the documentation out of the `README`.

[2020-10-26 18:57] aidenybai commented on #12
Agreed

[2020-10-26 21:11] shadowtime2000 commented on #12
I think creating our own documentation framework with `lucia` may be somewhat hard but I would be willing to try it out.

@aidenybai Thoughts?

[2020-10-26 21:14] aidenybai commented on #12
@shadowtime2000

Sure! Go ahead if you are interested

[2020-10-26 21:29] aidenybai commented on #12
A possible solution for this could be either different repo for this or we could do a mono repo or have a `docs` branch. Let me know which one works best for you

[2020-10-26 22:02] shadowtime2000 commented on #12
I think it would be best to keep them separate. Once I get a working version I will create a repo.

[2020-10-27 18:34] aidenybai commented on #9
Moved `l-watch` under `l-on:effect`, now able to access apps through `l-link`

[2020-10-27 19:34] shadowtime2000 commented on #9
You can view them, but you can't edit them. Changing it seems to just stop the entire app.

[CodePen example](https://codepen.io/shadowtime2000/pen/MWeopma?editors=1111)

[2020-10-27 20:11] aidenybai commented on #9
Just found the issue - the object is being exported under the global `Lucia` namespace, but is static. Its being modified under the document load anon function, but it doesn't change the object in the global namespace - kinda.

Devtools seems to be saying that something is in there, but when you `console.log` it, it returns nothing. Weird issue

[2020-10-27 20:29] aidenybai commented on #9
Should be fixed - feel free to write an optimization if you want

[2020-10-27 22:28] shadowtime2000 commented on #9
Seems to be working now. Whenever you change a value under `$view` it seems to do another render which is great. I think we should instead use a wrapper around the data given in `l-use` so that we can just track changes so people can keep it a little centralized.

[2020-10-27 22:45] aidenybai commented on #9
Agreed, I'm also not sure of the implementation strategy. If we use a wrapper function, like `Lucia.use('example', {})`, which triggers a render and the target might be `l-use="example"`, how would we distinguish between anonymous objects like `l-use="{}"`? This also introduces additional a tiny bit of additional complexity and performance overhead (at least with the implementation I'm thinking of

[2020-10-28 00:32] octetd commented on #8
Is anyone looking into this one already? I want to give it a shot, but first would need to decide which route to go with.

[2020-10-28 00:33] aidenybai commented on #8
Hey @octetd, thanks for your interest. Using a DOM array would be easier - but Virtual DOM should be implemented. I have already tried a bit but it's based off of selectors which negates the point of having a mirror representation of the DOM.

[2020-10-28 00:34] aidenybai commented on #8
Just a follow up - I can add you as a contributor if you think it will be easier for you.

[2020-10-28 00:46] octetd commented on #8
Thanks for being so fast to get back to me, if you are confortable with adding me as a contributor it would help yes, might also help to create a project so commits can reference tasks and we can track overral progress.

[2020-10-28 00:48] aidenybai commented on #8
Just sent an [invite to you](https://github.com/aidenybai/lucia/invitations). I haven't used Github Projects before - let me see if I can get that set up 👍

[2020-10-28 01:06] shadowtime2000 commented on #9
Seems like the `Lucia.use` route is working. I am going to close this then.

[2020-10-28 01:06] #9 closed

[2020-10-28 01:11] shadowtime2000 commented on #12
Trying it out, it is pretty difficult. I think we should then use a static site generator (don't know any for documentation) or Docusaurus.

[2020-10-28 01:16] aidenybai commented on #12
Got it. We could take a look at [Vuepress](https://vuepress.vuejs.org/) as an alternative as well. Seems like it supports markdown

[2020-10-28 01:25] octetd commented on #8
Do you have any channel where contributors might communicate aside from this issues system?

[2020-10-28 01:26] aidenybai commented on #8
Not yet, I've been considering using discord though.

[2020-10-28 01:28] octetd commented on #12
[Hugo](https://gohugo.io/) has some docs templates if you feel like looking into it

[2020-10-28 01:32] octetd commented on #8
I will create a board to track progress on this issue so I can break it into tasks, is that ok?

[2020-10-28 01:32] shadowtime2000 commented on #8
That seems like a good idea.

[2020-10-28 01:32] aidenybai commented on #8
Yep, that's fine

[2020-10-28 01:36] aidenybai commented on #8
Just created a discord server - feel free to join if you want: https://discord.gg/q2pSU39

[2020-10-28 02:21] shadowtime2000 commented on #8
We should also probably just have a `vdom` branch which we can all send PRs to and then eventually merge that into master. I am thinking PRs because we can review each others work. Refactors and chores could just be pushed I guess.

[2020-10-28 02:34] aidenybai commented on #8
That sounds like a great idea. Just pushed a branch

[2020-10-28 04:46] aidenybai commented on #12
Just took a look at Docusaurus - seems great for our use case. It's a bit awkward to transfer to an org at this stage as it would break a lot of backlinks, do you think it would be possible to do it in another branch? Current docs deploy via Netlify so it's perfect for us.

[2020-10-28 05:02] shadowtime2000 commented on #12
I don't have much experience with React so you guys might be to be more help on this 😆

@aidenybai I think transferring to an org may be the best solution. From my experience keeping the docs in another branch is a **little** messy. A new repo could also be a good solution, or we could just make this a monorepo and use something like `pnpm`. If we transfer to an org we could do what [gotwarlost](h

[2020-10-28 05:10] aidenybai commented on #12
I'm a little hesitant of transferring to an org just for a few reasons as Lucia doubles as my school research project, and it's a bit awkward for me to transfer this specific repo. I don't think they'll care about the external repos, so what I'm going to do is first create an org for Lucia for docs, etc and once the project period is over (Feb-Mar) I will transfer this repo over.

[2020-10-28 05:11] shadowtime2000 commented on #12
That sounds good to me.

[2020-10-28 15:29] shadowtime2000 commented on #7
I like the name. If we are going the route of giving a cool name to our VDOM engine and have it operate in it's own folder to be imported, we could also think about publishing it in it's own package and make it a little bit more modular to work with other frameworks. @aidenybai @octetd Thoughts?

[2020-10-28 15:34] shadowtime2000 commented on #8
I like the name. If we are going the route of giving a cool name to our VDOM engine and have it operate in it's own folder to be imported, we could also think about publishing it in it's own package and make it a little bit more modular to work with other frameworks. @aidenybai @octetd Thoughts?

[2020-10-28 15:41] shadowtime2000 commented on #12
@aidenybai Should I initialize a Docusaurus site on the docs repo and start working on it?

[2020-10-28 15:48] octetd commented on #8
I gave it a name and a folder to live in because I think it needs to be broken up into files for ease of maintenance @shadowtime2000 I'm making it quite modular and not too tightly coupled to lucia, I mean it's built for use by lucia but if someone wants to use it on their own project if they can work with the API it will likelly be very doable.
To me either having it as a repository and using it

[2020-10-28 15:55] octetd commented on #8
@shadowtime2000 while I develop the first proper version of maestro I will likely push directly to the branch and not do PRs so the workflow can be a tad faster but afterwards I will go the PR route for sure.

[2020-10-28 15:56] shadowtime2000 commented on #8
Makes sense.

[2020-10-28 16:41] aidenybai commented on #12
@shadowtime2000 Yeah, that would be great. Let me know when it's in a stable condition and I can add the lucia.js.org domain

[2020-10-28 16:43] aidenybai commented on #8
Both work - I want to make sure that everything flows and glues well before we publish. I can definetely see publishing maestro in the future though

[2020-10-28 16:47] shadowtime2000 commented on #12
Because of how the docusaurus template work I will need to delete the repo and then create another one.

[2020-10-28 16:48] aidenybai commented on #12
That's fine, go ahead

[2020-10-28 19:31] shadowtime2000 commented on #12
The Docusaurus site is in [this repo](https://github.com/lucialand/lucia-docs). I think you can connect it to your hosting provider. It does require that `npm run build` is run before it is hosted but I think it is good to go.

[2020-10-28 19:32] #12 closed

[2020-10-28 19:32] aidenybai commented on #12
Is there a dist directory for the bundled files?

[2020-10-28 19:34] shadowtime2000 commented on #12
@aidenybai `build` is the dist directory.

[2020-10-28 19:37] aidenybai commented on #12
![image](https://user-images.githubusercontent.com/38025074/97487546-4147ca00-191a-11eb-8599-c94529f3d77c.png)
Recieving these errors on deploy

[2020-10-28 19:42] shadowtime2000 commented on #12
@aidenybai Fixed!

[2020-10-28 19:45] aidenybai commented on #12
Should be published! https://lucia.js.org/

I see that you have a blog as well - do you want to lead maintaining the docs + blog?

[2020-10-28 19:53] shadowtime2000 commented on #12
@aidenybai Sure!

[2020-10-28 20:41] shadowtime2000 commented on #12
Just a question, @aidenybai what do you use to host the website?

[2020-10-28 21:33] aidenybai commented on #12
Netlify

[2020-10-28 23:03] aidenybai commented on #12
Kind of a aesthetic thing - would it be possible to change the theme colors to Lucia colors?

[2020-10-28 23:05] shadowtime2000 commented on #12
Yeah, the preset I used uses the [Infima](https://facebookincubator.github.io/infima/) CSS framework which allows you to change the theme colors with CSS custom variables I believe.

[2020-10-29 00:39] aidenybai opened #13 "Change Copyright in License to something Lucia related?"
https://github.com/aidenybai/lucia/blob/12a26b65a5544098b6ed4770e4de35d65de6f5c3/LICENSE#L3

[2020-10-29 00:44] shadowtime2000 commented on #13
For one of my projects [SwordCSS](https://github.com/swordcss/swordcss) I changed all the copyrights from my name to "The swordcss Team" so we could probably do something like that.

[2020-10-29 00:49] aidenybai commented on #13
Implemeted in afa493560c9d37de3f9f8397c0af69e8273a2c27

[2020-10-29 00:49] #13 closed

[2020-10-29 21:13] shadowtime2000 commented on #8
One thing that is a little weird is that the `jest` coverage reporting doesn't seem to be working on the `vdom-refactor` branch.

[2020-10-29 21:14] aidenybai commented on #8
Weird - is it because it's not being used in `index.ts`?

[2020-10-29 21:14] shadowtime2000 opened #14 "Coverage Reporting"
**Is your feature request related to a problem? Please describe.**

You currently have to clone the project to look at test coverage.

**Describe the solution you'd like**

Test coverage reporting with coveralls.

**Describe alternatives you've considered**

Using other coverage reporting tools.

**Additional context**
I can do this, it is pretty simple, just looking to see the thoughts of others.

[2020-10-29 21:18] aidenybai commented on #14
Sounds fine by me. :+1:

[2020-10-29 22:10] #14 closed

[2020-10-29 22:15] shadowtime2000 commented on #8
I made `vdom-refactor` up to date with commits in `master` and the coverage reporting seems to be working.

[2020-10-30 00:33] shadowtime2000 commented on #8
The `vdom-refactor` branch does have an extremely low test coverage of around 56% so we should probably work on that while developing it.

[2020-10-30 01:15] aidenybai commented on #8
Sounds good. @octetd said on Discord that he was available to work on the project tomorrow and this weekend, I'm not super available tomorrow but I can work this weekend. Maybe we can push a semi-working prototype by the end of this weekend.

[2020-10-30 01:50] octetd commented on #8
That's my expectation pretty much, to get something out even if using a very dumb conciliation alg by monday

[2020-10-30 01:51] shadowtime2000 commented on #8
Sounds good to me. I can also work on it tomorrow and over the weekend. I am going to start writing ways for it to easily integrate with Lucia like setting textContent and innerHTML.

[2020-10-30 02:01] octetd commented on #8
Ok, just make sure any updates to a node mark it as `tainted`, I'm considering dropping `clean` as it's redundant, @shadowtime2000 @aidenybai thoughts?

[2020-10-30 02:13] shadowtime2000 commented on #8
@octetd I think removing `clean` would be a good idea.

[2020-10-30 02:20] shadowtime2000 commented on #8
How should we listen to data events? Should we do that within the VDom or should we have Lucia listen for data changes and render? I think having Lucia listen for changes would keep it more decoupled and more modular. @octetd @aidenybai Thoughts?

[2020-10-30 02:26] octetd commented on #8
yeah I think it also better separates concerns, maestro has one job it's to manage the DOM on command so lucia should be in control here imo

[2020-10-30 02:32] octetd commented on #8
I'm thinking about events, having it as props and allow binding of any function? or have a custom handler and have synthetic events

[2020-10-30 02:56] aidenybai commented on #8
Would having a custom handler with synthetic events be unnecessary overload?

[2020-10-30 03:12] shadowtime2000 commented on #8
I think we should just go with props with function binding.

[2020-10-30 03:20] aidenybai commented on #8
Yeah - one issue I face with that was not being able to manage event listeners very well, the current non-refactored solution uses the .onevent properties to attach events. Any ideas on this?

[2020-10-30 03:23] shadowtime2000 commented on #8
What about using `addEventListener`?

[2020-10-30 03:25] aidenybai commented on #8
Yeah, that's what I was referring to with the weird api - There's not really a way to grab existing events, so it actually may be necessary to have an in memory mirror representation of events.

[2020-10-30 03:41] shadowtime2000 commented on #8
We could get a list of events with `Object.keys` and `filter` and then access the value for each event in the object.

[2020-10-30 05:05] aidenybai commented on #8
Oh okay - I see 👍

[2020-10-30 05:14] shadowtime2000 commented on #8
Currently there are some `setWhateverValue` functions but users can still directly set the value. @octetd @aidenybai do you know any workarounds so we can still set `tainted` to `true` on value changes? I know about getters and setters but then it may become a little more messy.

[2020-10-30 05:19] aidenybai commented on #8
Yeah I agree, the setter/getters looks pretty clunky. The only thing I can think of is maybe having a `Proxy` on `this` and tainting the `VDomNode` in a trap.

[2020-10-30 05:43] shadowtime2000 opened #15 "Benchmarks"
**Is your feature request related to a problem? Please describe.**
People see from the docs and the README that Lucia is fast but they don't have much proof.

**Describe the solution you'd like**
Lucia benchmarks added to [the JS Framework Benchmark](https://github.com/krausest/js-framework-benchmark).

**Describe alternatives you've considered**
None.

[2020-10-30 05:44] aidenybai commented on #15
Agreed. Let's try to do this after we finish maestro

[2020-10-30 05:44] shadowtime2000 commented on #8
I have never used a `Proxy` with `this` so I am a little doubtful of how well that would go. I think we should just give warnings in the Maestro documentation for setting values like `textContent`.

[2020-10-30 05:45] shadowtime2000 commented on #15
Seems like a good idea since Maestro will hopefully give it a performance boost anyways.

[2020-10-30 10:13] octetd commented on #8
Although messy I think setters would give the most consistent and missuse resistant API by ensuring tainting of the node

[2020-10-30 19:25] shadowtime2000 commented on #8
I changed the system to use getters and setters to ensure `tainted = true` and I dropped the `clean` property.

[2020-10-30 19:55] aidenybai commented on #8
Looks good. I'll be able to work on this after 4pm pst - What do you guys think about renaming VDomNode to VNode

[2020-10-30 20:13] shadowtime2000 commented on #8
Probably a good idea.

[2020-10-30 20:14] shadowtime2000 commented on #8
There seems to be a bug with the `nodeValue` in `fromHtmlElement` where it always becomes `undefined` even when it has content.

[2020-10-30 20:23] shadowtime2000 commented on #8
The coverage on the `vdom-refactor` branch has hit 87% higher than the coverage of the master branch which has a coverage of 81%. Some parts of it I found hard to test so I didn't test.

[2020-10-30 20:24] aidenybai commented on #8
Looks good. Just from a developer experience standpoint, would it be better to turn the VDomNode constructor parameters to only accept an object, this way it allows for more clarity?

[2020-10-30 21:05] octetd commented on #8
Hey @shadowtime2000 you pushed the refactors faster than me lol, can you roughly list what test you are finding hard please? @aidenybai I am looking into doing this rn.

[2020-10-30 21:13] shadowtime2000 commented on #8
@octetd Mainly the attributes to props conversion and children rendering in the `render` function.

[2020-10-30 21:22] octetd commented on #8
ok, I have refactored the code to take an object in the constructor should be less messy to initialise the class now updating the tests and will push when done

[2020-10-30 21:27] octetd commented on #8
I'm also dropping needsRender because it had the exact same body as isTainted

[2020-10-30 21:27] octetd commented on #8
or should I leave needsRender and drop isTainted, opnions?

[2020-10-30 21:29] aidenybai commented on #8
I would say leave needsRender as it is more descriptive, but keep the tainted property

[2020-10-30 22:20] shadowtime2000 opened #16 "Create One Function For Computing"
**Is your feature request related to a problem? Please describe.**
Currently when evaluating expressions it creates a function binds the `$view` to `this` uses `with (this)` and then calls the function.

**Describe the solution you'd like**
At startup for it read all `l-` directives and create functions with the expressions, and bind and call when it is necessary. This would also mean that changin

[2020-10-30 22:29] octetd commented on #8
I pushed the change to use an object as parameter to the constructor, it's way better nowwithout the long chains of undefined in the tests, good thing we did it now

[2020-10-30 22:45] aidenybai commented on #8
I have a question about the uniqueKey - is it necessary in our use case? If the VDom is a tree, then we can determine VNode of the element by walking the tree and determining its relative position assuming it is ordered.

[2020-10-30 22:54] octetd commented on #8
it's about say in a list keeping the order of the rendered elements and also diffing in the conciliation

[2020-10-30 23:00] aidenybai commented on #8
Couldn't that also be achieved by getting the index of the VNode?

[2020-10-30 23:03] octetd commented on #8
not exactly, at least not without flattening the tree esp for the diffing I have in mind I will try it if it dosn't work we can get rid of the key and also I have the idea of being able to access the nodes like a hashmap for that I need the key.

[2020-10-30 23:08] aidenybai commented on #8
Got it :+1:

[2020-10-31 00:20] octetd commented on #8
Ok, thanks

[2020-11-01 11:57] phoet opened #17 "Functions with dependencies are not updated"
**Describe the bug**
When rendering content (ie text) my expectation was that i could put the expression into a function on the context object and have the content updated whenever the depencency (ie `count`) is changed.

**To Reproduce**
Intuitively I would expect both buttons to show the same text:

[code]

If this is not intended or should be done any other way, it's probably because the docume

[2020-11-01 18:01] shadowtime2000 commented on #17
@phoet I don't believe it is actually possible with our current structure to update the dependencies of functions. Use pure functions like this:
[code]

[2020-11-01 19:18] aidenybai commented on #17
This is possible if you have an external function that returns state

[2020-11-01 19:41] phoet commented on #17
Fair enough.

Since the documentation has references to Vue, I was expecting some kind of similar functionality when it comes to methods used in bindings.

There should at least be a minimal example in the documentation that shows the inteded use.

[2020-11-01 19:43] shadowtime2000 commented on #17
Good point, the documentation doesn't reflect the intended use. I will update that. @phoet feel free to open a PR to update it yourself too.

[2020-11-01 19:47] phoet commented on #17
I find it especially irritating, as the `l-on:click` handlers can be functions and update the state. so from my point, following the principle of least surprise, binding a method to `l-text` should always return an updated value as well.

[2020-11-01 19:50] aidenybai commented on #17
Issue seems to be here specifically, need to somehow be able to compare `value` and `view[key].toString()` and see that it is accessing affected state. Although this is a temporary solution, we're currently working on a full vdom refactor under the `vdom-refactor` branch.

![image](https://user-images.githubusercontent.com/38025074/97812743-49fd1080-1c38-11eb-8d62-eb98aa1fc40b.png)

[2020-11-04 23:05] shadowtime2000 opened #19 "Stop Using With"
**Is your feature request related to a problem? Please describe.**
`with` is deprecated as it isn't that good for performance.

**Describe the solution you'd like**
Removing the `with` statements inside `compute`. This will make it so that users must use `this.whatever` instead of `whatever`.

**Describe alternatives you've considered**
None

**Additional context**
This is pretty simple but since

[2020-11-04 23:06] shadowtime2000 commented on #19
@aidenybai @octetd Thoughts?

[2020-11-04 23:09] aidenybai commented on #19
Fine by me, keeps a bit of consistency

[2020-11-05 01:29] aidenybai commented on #19
Also, a bit offtopic but you should join the Discord, this way we can have conversations off of Github issues and keep the issues tracker for more specific things

[2020-11-09 23:20] shadowtime2000 opened #20 "State Management Library"
**Is your feature request related to a problem? Please describe.**
There is no way to do a little more complex state management.

**Describe the solution you'd like**
A state management library.

**Describe alternatives you've considered**
None.

**Additional context**
I can spearhead this. Ideas for names would be great, I am thinking of Luciex.

[2020-11-09 23:22] aidenybai commented on #20
Sounds good. I imagine this would depend on the vdom-refactor?

[2020-11-09 23:25] shadowtime2000 commented on #20
@aidenybai Not necessarily. We could structure it in a way where we have a core `@luciex/core` package with `@luciex/lucia` binding package. That way it can be used for other things. If we restructure the project right with `vdom-refactor` we probably wouldn't have to change anything between this being released and Maestro being completed.

[2020-11-09 23:27] shadowtime2000 commented on #20
We should also put it inside it's own repo in the @lucialand org

[2020-11-09 23:27] aidenybai commented on #20
Agreed

[2020-11-09 23:29] shadowtime2000 commented on #20
Ok, I will start working on it. I am thinking we do a dispatch design where you do something like this:

[code]

[2020-11-10 01:11] shadowtime2000 opened #21 "Bundle Typings"
**Is your feature request related to a problem? Please describe.**
Once Maestro is completed and that version is released, a feature request was to have an exported `init` function.

**Describe the solution you'd like**
It would probably be a good idea to start bundling Typescript declaration files instead of using `babel-preset-typescript`.

**Describe alternatives you've considered**
None.

**Ad

[2020-11-10 01:11] shadowtime2000 commented on #21
@aidenybai @octetd Thoughts?

[2020-11-10 01:41] aidenybai commented on #21
Sounds good to me. Can we merge the new `this` changes in directive values and minor changes

[2020-11-10 01:43] shadowtime2000 commented on #21
@aidenybai I think the `this` change would be considered a breaking change because it is not backwards compatible.

[2020-11-10 01:44] aidenybai commented on #21
Got it, sounds good then

[2020-11-10 02:18] aidenybai commented on #17
Fixed in ca44c2e953cce44fce28f9debf3db2bb0b88c18f

[2020-11-10 02:18] #17 closed

[2020-11-10 02:19] #19 closed

[2020-11-10 02:26] aidenybai commented on #21
Pushed a change 05089752e539841cab7d3c1d00e6dc5f651d6036 for this

[2020-11-10 03:02] shadowtime2000 commented on #21
@aidenybai imo we should use a typescript plugin for rollup to create the typings instead.

[2020-11-10 21:05] shadowtime2000 commented on #20
@aidenybai I kind of finished it but for some reason I am getting errors when publishing.

[2020-11-10 21:09] aidenybai commented on #20
What's the error with it?

[2020-11-10 21:11] shadowtime2000 commented on #20
@aidenybai Seems to be something with error 404 when sending PUT to the registry. I am trying to fix it right now.

[2020-11-10 21:13] shadowtime2000 commented on #20
It looks like it a problem with how `lerna` is publishing it.

[2020-11-10 21:17] shadowtime2000 commented on #20
According to [this comment](https://github.com/lerna/lerna/issues/1821#issuecomment-448473941) the first publish should be by hand, so I am going to do it that way.

[2020-11-10 21:22] shadowtime2000 commented on #20
Figured it out, using a scope for a package requires an NPM organization, and right now, it isn't very necessary, so I am going to do away with the scope ideas and have it be published under the name `luciex`.

[2020-11-10 21:24] shadowtime2000 commented on #20
🎉 [luciex](https://www.npmjs.com/package/luciex) has been published. We probably need to do some cleaning up with the READMEs and stuff. We could also try getting `luciex.js.org` and putting some docs there.

[2020-11-10 21:24] #20 closed

[2020-11-11 04:54] aidenybai commented on #21
I looked at some typescript plugins for rollup and they don't seem to support typings and actually recommend using `tsc`. Do you have any plugins in mind we could use?

[2020-11-11 06:17] shadowtime2000 commented on #21
@aidenybai I was thinking using [rollup-plugin-typescript2](https://www.npmjs.com/package/rollup-plugin-typescript2). Since it allows us to pass in certain configuration, we could pass `declaration: true` and attempt to turn everything else off. I was thinking that we should move away from using `babel-preset-typescript` too to make it a little simpler.

[2020-11-11 22:18] aidenybai commented on #21
Should be done 👍

[2020-11-12 00:24] shadowtime2000 commented on #7
We could try allowing usage of SFCs too. Maybe something like what Vue does?
[code]
Which would basically become the same as
[code]

[2020-11-12 01:10] aidenybai commented on #7
Could be interesting - I would much rather modularize and have a sfc package for this, just to reduce overhead

[2020-11-12 01:11] shadowtime2000 commented on #7
Yeah, the converted part could probably be part of the core package and the SFC could become a `lucia-sfc` package with a compiler and parser.

[2020-11-13 03:53] shadowtime2000 commented on #21
@aidenybai Yeah, I saw that you released `v0.2.0`, but I don't believe the `types` field was in the `package.json` at that moment, so once we create a new release we can close this.

[2020-11-13 04:02] shadowtime2000 commented on #7
We could also probably do JSX then,

[code]

or

[code]

We would probably need to do some more planning on how exactly that would work though (More react like, or a new way?)

[2020-11-13 19:29] aidenybai commented on #7
Agreed, the jsx syntax looks pretty good, we can explore other ways of doing it as well

[2020-11-14 21:18] shadowtime2000 commented on #7
Maybe for the core part:
[code]
There is probably a better way for registering components than putting them inside an array or something.

[2020-11-15 01:36] shadowtime2000 commented on #7
There are 3 different ways we can make making components easier:
1. Single file components
2. JSX
3. Tagged Template Literals

And people can still just use the core base of the component system

[2020-11-16 03:35] shadowtime2000 commented on #7
For JSX we could probably create a utility package (`luciascript`?).

[code]

[2020-11-16 06:57] aidenybai commented on #7
I wonder if we can have a namespace for lucia on npm, for example `@lucialand/jsx` or `@lucialand/script`

[2020-11-16 06:59] shadowtime2000 commented on #7
@aidenybai We could do that but that would require an NPM organization and I don't think that is completely necessary at this stage of the project.

[2020-11-18 06:59] shadowtime2000 opened #22 "SSG/SSR"
**Is your feature request related to a problem? Please describe.**
There should be a way to create pure static HTML from Lucia components.

**Describe the solution you'd like**
A package (`lucia-render`?) that exports functions like `renderToMarkup` and `renderToStaticMarkup` to create reactive and static apps appropriately which are prerendered.

**Describe alternatives you've considered**
Server

[2020-11-20 01:31] shadowtime2000 commented on #21
I believe the `v0.2.1` release fixed this so I am going to close this.

[2020-11-20 01:31] #21 closed

[2020-11-20 18:54] shadowtime2000 commented on #8
What is the status on this? I can see there are two files, a rewrite file for a VNode and the initial Vnode we created. I am a little confused on what the rewrite file is for.

[2020-11-20 19:01] aidenybai commented on #8
Rewrite file is an experiment to create a functional API for vnodes. In master, basically rolling out the bugs to make sure that it is stable and no issues.

[2020-11-20 19:09] shadowtime2000 commented on #8
What do we need for Maestro to be completed? Diffing, reconciliation, I am don't know much about how exactly those would be implemented though.

[2020-11-20 19:10] aidenybai commented on #8
Yeah, I'm currently working on some implementations but I haven't pushed. I can update if I get something good

[2020-11-20 20:40] shadowtime2000 commented on #8
This is kind of off topic but we can change the version in `vdom-refactor` to `v1.0.0` and release it with a `next` dist tag so users know it is still in development or is not entirely stable yet. This would allow people to try out the features like controlling initialization and the performance and compatibility benefits of not using `with`.

[2020-11-21 00:00] shadowtime2000 opened #23 "Allow Usage of Template Engines"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to use templating syntax to make interpolation of values easier.

**Describe the solution you'd like**
A `l-templating:precompile` directive directive for their appropriate uses. On initialization it should take the full inner HTML of elements using the `l-tempating:precompile` directive and use the value

[2020-11-21 01:11] shadowtime2000 commented on #23
Actually we should probably use `:compile` instead of `:precompile` for the directive.

[2020-11-21 01:14] aidenybai commented on #23
Would this be scoped changes, where only affected innerHTML elements are change? Seems sort of inefficient to compile and change the full innerHTML every mutation

[2020-11-21 01:17] shadowtime2000 commented on #23
Yeah, we should probably use some sort of technique to allow vdom diffing. Maybe supply a utility function like `createElement` which can be used? That could tie in to #7 where I believe we were thinking of supplying component views as strings, we could use something like `createElement` instead. Maybe parse the string and convert it to use `createElement`.

[2020-11-21 01:19] aidenybai commented on #23
Agreed. Currently VDom refactor is priority so we can implement these changes

[2020-11-21 01:22] shadowtime2000 commented on #23
Something that could get some discussion started:
[code]
[code]

[2020-11-23 07:32] shadowtime2000 commented on #23
Could also look into instead allowing users to create plugins for template engines, `lucia-eta`, which use the template engine to parse the content and dynamically generate VDom nodes.

[2020-11-23 07:38] aidenybai commented on #23
Yeah, could be interesting. Maybe we should also have plugin support in mind

[2020-11-23 07:49] shadowtime2000 opened #24 "Remove Side Effects"
**Is your feature request related to a problem? Please describe.**
Lucia has partial support for tree shaking but not full support because it has side effects with accessing the `document`.

**Describe the solution you'd like**
Removal of [src/index.ts L#47](https://github.com/aidenybai/lucia/blob/5a67ef80cf6cf22f78b55cdfdf9383527585d327/src/index.ts#L47).

**Additional context**
To my understandi

[2020-11-23 07:55] shadowtime2000 commented on #7
For organization I am going to move this to the in discussion column in the backlog because we are still trying to figure out how to implement this and what the interface/API should be.

[2020-11-24 22:42] shadowtime2000 commented on #24
@aidenybai What are your thoughts on this? Looking at the semver document we are allowed to have breaking changes if the major version is `0`.
![image](https://user-images.githubusercontent.com/66655515/100159762-36258280-2e63-11eb-9e3c-cee8a27474c6.png)

[2020-11-24 22:43] aidenybai commented on #24
Yeah, I think its fine. There currently is not much "production" usage and versions don't change. Personally, I don't think its a huge deal as long as we incrementally make breaking changes

[2020-11-24 22:45] shadowtime2000 commented on #24
@aidenybai Not fully understanding what you are saying, are you agreeing with removing side effects and publishing with `v0.3.0` or something?

[2020-11-24 22:51] aidenybai commented on #24
Oh I see, I didn't understand the question completely. The main issue with the removal of the automatic initiation on dom load is that it partially contradicts the "ability to do logic in the markup." We should discuss this further.

For the vdom tree shaking, it also depends on utils and directives. If we want to fully support tree shaking, we should also consider restructing our fs

[2020-11-24 22:52] shadowtime2000 commented on #24
Yes, true. This should be discussed more.

[2020-11-24 22:54] shadowtime2000 commented on #8
Continuing a conversation of #24, @aidenybai What do you think about merging `master` with `vdom-refactor` and publish as `v0.3.0` for the optimizations of not using `with` statements?

[2020-11-24 22:54] shadowtime2000 commented on #8
We could also just do it inside of `master` and publish it without touching `vdom-refactor`.

[2020-11-24 22:55] aidenybai commented on #8
vdom-refactor is more long term. I agree we should just do it inside master

[2020-11-25 01:11] aidenybai opened #25 "Quality Tests"
**Is your feature request related to a problem? Please describe.**
Current tests are quite subpar and don't really cover all cases. Current coverage is 67%

**Describe the solution you'd like**
Shift focus from features to writing quality tests.

[2020-11-25 01:17] shadowtime2000 commented on #25
I can work on this.

This would probably be best, cause it was hard to update the tests with all the features coming in. Good coverage is good for knowing what is tested, but if it over 90% it can make the project look better.

[2020-11-25 01:21] aidenybai commented on #25
I agree. I've also found a slew of bugs just by testing randomly, and I think fully testing everything a couple times over can help squash bugs and find issues.

[2020-11-25 01:29] shadowtime2000 commented on #25
Yeah I did find a bug with what I believe was the intended use of the `l-html` directive.

[2020-11-25 01:57] shadowtime2000 commented on #25
Yeah, our current goal should be to fix bugs, write tests, and optimize performance. We should also be releasing them all along the way.

[2020-11-25 06:04] aidenybai commented on #8
Pushed breaking change in 7f6a6288304ba464b407d01164c2b83253b17666. Once we finish tests, I think its ready to push `0.3.0`

[2020-11-25 06:06] shadowtime2000 commented on #8
@aidenybai Seems good. What do you think we should target with test coverage? I am thinking 90%.

[2020-11-25 06:07] aidenybai commented on #8
90% seems like a good goal, but we can adjust if we pretty much covered all of the relevant parts

[2020-11-25 07:29] aidenybai commented on #7
Normal components implemented in 72fa4a93bf111dc78ec5994e6dbfff1ea9ed1b28. SFCs pending

[2020-11-25 07:32] shadowtime2000 commented on #7
@aidenybai Using that commit, how exactly would one simply make a counter component equivalent to the clicker game we gave?

[2020-11-25 20:07] aidenybai commented on #7
@shadowtime2000

That would just be

[code]

[code]

[2020-11-25 20:08] shadowtime2000 commented on #7
What do you think about allowing components to have their own isolated state?

[2020-11-25 20:10] aidenybai commented on #7
Will look into that and follow up if I have something

[2020-11-25 20:20] shadowtime2000 commented on #7
@aidenybai It doesn't appear to be working. [CodePen](https://codepen.io/shadowtime2000/pen/wvzwZRY?editors=1111).

[2020-11-25 20:21] shadowtime2000 commented on #7
Nevermind, in the `Lucia.use` statement it was supposed to be `ClickerApp` not `App`.

[2020-11-25 20:26] shadowtime2000 commented on #7
@aidenybai Just a question, when rendering, is it using VDom diffing or something or is it just placing it straight on there?

[2020-11-25 20:34] aidenybai commented on #7
It's currently just selectively placing it straight on there

[2020-11-25 20:35] aidenybai commented on #7
Also as a follow up, can't figure out a good way to make isolated views, stashed changes for now.

[2020-11-25 21:25] aidenybai commented on #7
Just thinking of isolated components from a design perspective also doesn’t really fit into how Lucia is currently. We encourage usage of component scopes, therefore I think components should try on their own component scope.

[2020-11-25 22:22] shadowtime2000 commented on #7
I think I will start trying to attempt to create a JSX package for Lucia. That would require a function which is Hastscript compatible which creates strings for the HTML. Because of how useful that could be, I am going to create it in a seperate package called `luciascript`.

[2020-11-26 02:41] shadowtime2000 commented on #24
We could remove the current side effect from `index.ts`. Then we could create a `browser.ts` which exports everything in `index.ts` but also has that DOM side effect. We could then modify the current rollup config to use `browser.ts` for UMD and IIFE exports while using `index.ts` for CJS and ES.

[2020-11-26 03:10] aidenybai commented on #24
This seems like an interesting fix - does this mean CJS builds need manual initialization?

[2020-11-26 03:11] shadowtime2000 commented on #24
@aidenybai Yes, but I think it is safe to assume that if they are using a more controlled module system like CJS and ES they want full control over how it is initialized.

[2020-11-26 03:14] aidenybai commented on #24
@shadowtime2000 Sounds good, you can push those changes. I will add a note on docs for CJS/ES

[2020-11-26 03:42] shadowtime2000 commented on #24
I finished that. I guess this will go along with the next release.

[2020-11-26 04:59] aidenybai commented on #7
Sounds great.

[2020-11-26 04:59] aidenybai commented on #15
Any plans to start on this for 0.3.0?

[2020-11-26 06:13] shadowtime2000 commented on #15
I think I will start attempting it since progress on Maestro has been pretty slow.

[2020-11-26 09:54] aidenybai commented on #25
Should be over 90% now.

[2020-11-26 20:35] shadowtime2000 commented on #22
It should be relatively simple to generate purely static markup from a component though generating reactive markup may be a little harder. I don't have much of an idea on how I would get hydration and stuff to work with the current system.

[2020-11-26 21:04] aidenybai commented on #22
I added a simple `render` function under `h.ts` and is exported under `Lucia`. Hydration I feel currently isn't necessary as we're relying on directives, but we can look into that.

[2020-11-26 21:25] shadowtime2000 commented on #7
We should also probably allow functions for the template which take props passed to the usage of the component. Along with that we should probably have a special `children` prop which is a string of all the HTML in between the component tags.

[2020-11-26 22:09] aidenybai commented on #7
I'm not sure if that makes sense to me - I imagine the component to be standalone and pluggable, basically with the functionality of `<Component />`

[2020-11-26 22:13] shadowtime2000 commented on #7
Components could still be standalone and pluggable, you would just be able to customize them more:
[code]

[2020-11-27 04:02] #24 closed

[2020-11-27 04:05] shadowtime2000 commented on #7
Maybe I don't have a full understanding of how the current Virtual DOM works, but couldn't we allow users to have the template of a component be the result of an `h` function? @aidenybai Thoughts?

[2020-11-27 04:22] aidenybai commented on #7
We can, but the current render function just creates an object representation, so I made an intermediate function `render` to do that. Maybe we can have the internal compiler use h, and have the exported function be render, which returns the template as you mentioned

[2020-11-27 22:21] #25 closed

[2020-11-27 22:25] shadowtime2000 commented on #7
@aidenybai Do you think with the current architecture we could facilitate allowing functional components with props?
[code]
[code]

[2020-11-27 22:39] aidenybai commented on #7
This is possible - is `this.dark` a prop in the component scope? So view props from scope parent need to be passed down? If so, maybe we should consider a better way of `l-bind`ing multiple props.

[2020-11-27 22:59] shadowtime2000 commented on #7
Yeah, this is what I am imagining to allow being unopinionated with naming conventions.

Yeah, we should come up with a better way of passing props down to components without `l-bind`.

[2020-11-27 23:10] aidenybai commented on #7
@shadowtime2000 Could we just pass the entire view into the function and allow it to be destructured for whatever is needed?

[2020-11-27 23:12] aidenybai commented on #7
Nevermind, that doesn't make any sense. Ignore what I just said

[2020-12-05 00:47] shadowtime2000 opened #29 "Size Limit"
**Is your feature request related to a problem? Please describe.**
We should probably add some CI like GH actions with `size-limit` to make sure we stay under a maximum UMD bundle size of 4 - 5 KB.

**Describe the solution you'd like**
GH action using `size-limit`.

**Additional context**
Big bonus is it tells us how the size increases or decreases on PRs.

[2020-12-05 00:47] shadowtime2000 commented on #29
@aidenybai Thoughts?

[2020-12-05 00:47] aidenybai commented on #29
That sounds like a good idea. I will look into that

[2020-12-05 00:50] shadowtime2000 commented on #29
For reference [the `size-limit` repo is ai/size-limit](https://github.com/ai/size-limit). Another bonus is that it can make it easier to figure out if the build still runs properly when dependabot creates a PR to update Rollup or a Rollup dep.

[2020-12-05 02:00] #29 closed

[2020-12-05 02:47] shadowtime2000 opened #31 "Remove IE Polyfills"
**Is your feature request related to a problem? Please describe.**
Currently when building, TS seems to be injecting polyfills and stuff for things like rest and spread operator. This seems pretty unnecessary because IE support should be optional for people who don't want to support it.

**Describe the solution you'd like**
Lucia not implementing IE polyfills and stuff to maintain a low bundle siz

[2020-12-05 02:52] shadowtime2000 commented on #31
I think compiling to `ES2020` might be a good option, and then maybe providing a larger build with the polyfills with Babel.

[2020-12-05 03:06] shadowtime2000 commented on #31
Or we could also just limit usage of ES6+ syntax, besides easily compiled ones such as `const`, `let` and arrow functions, though that seems a little unproductive.

[2020-12-05 03:13] aidenybai commented on #31
Just pushed a change to support this - feel free to adjust. I think we can rollback the Object.assign as it no longer uses helpers in the slim builds

[2020-12-05 03:15] shadowtime2000 commented on #31
Strangely enough, if we use `ES2015+` for the TS build, it replaces the spread operators with `Object.assign`.

[2020-12-05 03:29] shadowtime2000 commented on #31
Looks good, but we should probably change it from `dist/polyfills` to `dist/legacy`.

[2020-12-05 08:17] aidenybai commented on #31
Implemented in 8afd15377033b32051cc4ade4b1ddb3bad855a43

[2020-12-05 08:17] #31 closed

[2020-12-07 18:23] aidenybai opened #33 "Drop `l-use` syntax in favor for Vue syntax"
**Is your feature request related to a problem? Please describe.**
Currently users can access their views by creating Lucia apps in JavaScript using `Lucia.use` and a target `l-use` directive.

**Describe the solution you'd like**
Scrap the `Lucia.use`, change `l-init` to `l-use`, and provide examples using the internal "Vue" syntax only

[2020-12-07 19:46] shadowtime2000 commented on #33
Hmm, I am not that familiar with Vue and it's syntax. @aidenybai Can you give an example of what it would look like with Lucia?

[2020-12-07 19:48] aidenybai commented on #33
Current syntax:
[code]
Vue-ish Syntax
[code]

[2020-12-07 19:51] shadowtime2000 commented on #33
I think that seems like a good idea.

[2020-12-08 02:01] aidenybai opened #34 "Unintended element updates"
**Describe the bug**
Due to https://github.com/aidenybai/lucia/blob/fa0246353c791bb5fced79ab12a1c4bfd8506fe5/src/vdom/patch.ts#L29

If two view keys are provided with one name being inside the other, such as `foo` and `foo1` or `phrase` and `wowaphraseawow`, then it will update the latter if the first is updated.

**To Reproduce**
1. Run
[code]
2. Click the first button and view the Elements view

[2020-12-08 02:05] aidenybai commented on #34
Possible fix is to use some sort of regex match? I want to keep it string check based rather than parse it for low overhead

[2020-12-08 02:57] aidenybai commented on #34
Fixed in 58aaf17cd5c31a4518d6ebd20d72460199fd3293

[2020-12-08 02:57] #34 closed

[2020-12-08 03:00] aidenybai commented on #33
Done in 14d4c14ff6175ff430275292be943d023c5387b6

[2020-12-08 03:00] #33 closed

[2020-12-09 06:16] shadowtime2000 commented on #22
That works on the client side, we should probably do something like `lucia-ssr` which does it on the server side. It should allow passing in `h` calls for the app I guess.

[2020-12-13 02:11] aidenybai opened #36 "Switch to Composition API?"
**Is your feature request related to a problem? Please describe.**
Recently we've been looking to effects, watchers, etc. We can try looking into how other libraries implement this, while providing a simple API.

**Describe the solution you'd like**
https://v3.vuejs.org/guide/composition-api-introduction.html#setup-component-option

[2020-12-17 06:53] aidenybai commented on #16
Done in 4c65cd510f61352472d87cc217800c0abc481f4e

[2020-12-17 06:53] #16 closed

[2020-12-17 07:21] shadowtime2000 commented on #23
I think the best approach would be to use its parsing engine and  parse it into a structure we can convert into a vdom tree

[2020-12-18 09:05] #7 closed

[2020-12-25 03:25] buttercubz opened #40 "support sfc?"
any plan to add support for single file components? maybe base on html component

[2020-12-25 04:18] shadowtime2000 commented on #40
I believe we talked about this a little in #7, we would have to discuss how they would be structured though.

[2020-12-27 09:37] aidenybai commented on #40
I think @shadowtime2000 has already made some progress on this with `luciascript`

[2020-12-27 09:38] aidenybai opened #41 "Transition directives"
**Is your feature request related to a problem? Please describe.**
Currently there is no native/built-in support for transitions like Vue or Alpine does

**Describe the solution you'd like**
Some `l-transition` directive that allows users to use built-in transitions (`fade`, `swipe`, etc) as well as use custom transitions.

**Describe alternatives you've considered**
Possibly a custom `<transition

[2020-12-27 09:40] shadowtime2000 commented on #40
`luciascript` was meant to be the base of `lucia-jsx`, I don't know much about SFCs because I work mainly with React. We could probably borrow and properly credit the code from various compilers like `vue-loader`, Svelte, or [Prism web component compiler](https://github.com/kaleidawave/prism).

[2021-01-06 00:28] aidenybai commented on #41
On further consideration - this isn't really necessary. User can just bind/add styles to element themselves, or just use an animation library like `animate.css`

[2021-01-06 00:28] #41 closed

[2021-01-06 22:05] aidenybai commented on #15
Unsure how to work on this - should we follow an official benchmarking or our own

[2021-01-06 22:18] aidenybai commented on #8
No progress on Maestro, closing until needed

[2021-01-06 22:18] #8 closed

[2021-01-06 22:21] shadowtime2000 commented on #15
We could probably write our own for the basic simple stuff at a medium scale and write for a more community standard benchmark if we feel it is necessary.

[2021-01-06 22:47] aidenybai commented on #15
This is a good idea - do you have any suggestions on how to benchmark? Here's some I've found:
- `performance.now()`
- `new Date() - new Date()`

Unsure if there are any good libraries for our use case

[2021-01-06 22:49] shadowtime2000 commented on #15
@aidenybai [benchmark.js](https://benchmarkjs.com/) is one I have used in a couple scenarios and is pretty detailed - or at least for my use case which was only speed

[2021-01-06 22:53] aidenybai commented on #15
@shadowtime2000 Looks really promising

[2021-01-08 05:25] shadowtime2000 commented on #23
I think the best way is to use some DOM diffing algo which merges the rendered template with the current text.

[2021-01-14 17:27] #15 closed

[2021-02-01 19:10] aidenybai commented on #40
Will reopen when it is necessary to create SFC for Lucia

[2021-02-01 19:10] #40 closed

[2021-02-06 18:14] aidenybai opened #60 "Usage of web workers to accelerate critical processes"
**Is your feature request related to a problem? Please describe.**
Currently performance is done on a single thread (main thread), and this may cause operation blocking and decrease performance.

**Describe the solution you'd like**
Create code that moves critical processes to a separate web worker, so that operations can be offloaded and multithreaded. Some critical processes include `compile`, `

[2021-02-14 09:03] shadowtime2000 commented on #60
There wouldn't be much benefit of offloading `compile`, but we could look into splitting different stuff which uses different components into their own threads and post messages for state updates, not quite sure how well it would work with `l-for`. We would also have to force the state to be JSON so we could send it as a payload to the workers as a string.

[2021-02-14 09:12] shadowtime2000 commented on #60
Like if we had:
[code]
The responsibility of updating its text would be in it's own worker.

[2021-02-14 09:28] aidenybai commented on #60
@shadowtime2000 That's a good point - we should try it out. I wonder if its too heavy on memory

[2021-02-14 09:32] aidenybai commented on #22
Closed for inactivity

[2021-02-14 09:32] #22 closed

[2021-03-04 17:12] #60 closed

[2021-03-04 17:18] aidenybai opened #70 "Numeric value for l-for syntax"
**Is your feature request related to a problem? Please describe.**
`l-for` currently allows you put an array as the target: `l-for="... in [...array]"`. However, there is no equivalent to the `for (let i = 0; i < 10; i++)` syntax for Lucia.

**Describe the solution you'd like**
A solution that accepts a numeric value as the array and uses it, and the items give the index.

Example: `l-for="i in 10

[2021-03-04 17:23] aidenybai opened #71 "l-show addition?"
**Is your feature request related to a problem? Please describe.**
Currently there are two ways to show/hide items: `l-bind:hidden="!conditional"` and `l-bind:style="{ display: conditional ? 'block' : 'none' }"`. However, this is unclear for beginners and a designated `l-show` directive could make it clear to use.

**Describe the solution you'd like**
`l-show` will not be conditional rendering, ra

[2021-03-11 06:30] #71 closed

[2021-03-15 04:58] aidenybai commented on #23
With the benefit of hindsight a couple months later, it's probably smarter to just allow server-rendered templates and have the functionality be the same as it is now. @shadowtime2000 feel free to close the issue if you agree

[2021-03-16 02:27] shadowtime2000 commented on #23
@aidenybai I think we could just try a basic embedded template engine where `{{ soemthing }}` is equal to a text node while `{{{ something }}}` is equal to an element or something being made with `innerHTML` being set. Still not very sure about how `{{{ something }}}` would work. If your fine with it, I could draft up a PR

[2021-03-16 02:53] aidenybai commented on #23
That sounds great! I tried to do some template compilation to our own `l-text`/`l-html` directives, but I wasn't successful

[code]

[2021-03-24 02:18] #23 closed

[2021-03-28 22:21] aidenybai commented on #70
Unnecessary as workaround works fine

[2021-03-28 22:21] #70 closed

[2021-12-22 05:58] SJanJan opened #340 "After 'pnpm test' ,Test Suites and Tests get some fails"
### Why I get some Test failed when  'pnpm test'?
**How to fix them?**

**please look at the  following output：**

[code]

[2022-01-01 21:13] aidenybai commented on #340
Hey sorry for the late response, I didn't get a notification for some reason. Fixed in latest commit

[2022-01-01 21:13] #340 closed

[2022-07-01 18:33] joeldesante opened #388 "CodePen example does not work."
**Describe the bug**
The CodePen example provided in the `README.md` is not working as expected.

**To Reproduce**
1. Click the CodePen example link in the `README.md`
2. Attempt to try out the example

**Expected behavior**
It should add items to the todo list when you click the create button